HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/log/
/log/member/
*.log
/node_modules/.package-lock.json
/node_modules/source-map-js/lib/array-set.js
/node_modules/estree-walker/types/async.d.ts
/node_modules/estree-walker/src/async.js
/node_modules/postcss/lib/at-rule.d.ts
/node_modules/postcss/lib/at-rule.js
/node_modules/@babel/parser/typings/babel-parser.d.ts
/node_modules/@babel/parser/bin/babel-parser.js
/node_modules/source-map-js/lib/base64.js
/node_modules/source-map-js/lib/base64-vlq.js
/node_modules/source-map-js/lib/binary-search.js
/node_modules/@babel/parser/CHANGELOG.md
/node_modules/estree-walker/CHANGELOG.md
/node_modules/source-map-js/CHANGELOG.md
/node_modules/postcss/lib/comment.d.ts
/node_modules/postcss/lib/comment.js
/node_modules/@vue/compiler-core/dist/compiler-core.cjs.js
/node_modules/@vue/compiler-core/dist/compiler-core.cjs.prod.js
/node_modules/@vue/compiler-core/dist/compiler-core.d.ts
/node_modules/@vue/compiler-core/dist/compiler-core.esm-bundler.js
/node_modules/@vue/compiler-dom/dist/compiler-dom.cjs.js
/node_modules/@vue/compiler-dom/dist/compiler-dom.cjs.prod.js
/node_modules/@vue/compiler-dom/dist/compiler-dom.d.ts
/node_modules/@vue/compiler-dom/dist/compiler-dom.esm-browser.js
/node_modules/@vue/compiler-dom/dist/compiler-dom.esm-browser.prod.js
/node_modules/@vue/compiler-dom/dist/compiler-dom.esm-bundler.js
/node_modules/@vue/compiler-dom/dist/compiler-dom.global.js
/node_modules/@vue/compiler-dom/dist/compiler-dom.global.prod.js
/node_modules/@vue/compiler-sfc/dist/compiler-sfc.cjs.js
/node_modules/@vue/compiler-sfc/dist/compiler-sfc.d.ts
/node_modules/@vue/compiler-sfc/dist/compiler-sfc.esm-browser.js
/node_modules/@vue/compiler-ssr/dist/compiler-ssr.cjs.js
/node_modules/@vue/compiler-ssr/dist/compiler-ssr.d.ts
/node_modules/postcss/lib/container.d.ts
/node_modules/postcss/lib/container.js
/node_modules/postcss/lib/css-syntax-error.d.ts
/node_modules/postcss/lib/css-syntax-error.js
/node_modules/postcss/lib/declaration.d.ts
/node_modules/postcss/lib/declaration.js
/node_modules/postcss/lib/document.d.ts
/node_modules/postcss/lib/document.js
/node_modules/estree-walker/dist/esm/estree-walker.js
/node_modules/estree-walker/dist/umd/estree-walker.js
/node_modules/postcss/lib/fromJSON.d.ts
/node_modules/postcss/lib/fromJSON.js
/node_modules/nanoid/async/index.browser.cjs
/node_modules/nanoid/index.browser.cjs
/node_modules/nanoid/async/index.browser.js
/node_modules/nanoid/index.browser.js
/node_modules/@babel/parser/index.cjs
/node_modules/nanoid/async/index.cjs
/node_modules/nanoid/non-secure/index.cjs
/node_modules/nanoid/url-alphabet/index.cjs
/node_modules/nanoid/index.cjs
/node_modules/nanoid/index.d.cts
/node_modules/estree-walker/types/index.d.ts
/node_modules/nanoid/async/index.d.ts
/node_modules/nanoid/non-secure/index.d.ts
/node_modules/nanoid/index.d.ts
/node_modules/@babel/parser/lib/index.js
/node_modules/@vue/compiler-core/index.js
/node_modules/@vue/compiler-dom/index.js
/node_modules/@vue/shared/index.js
/node_modules/estree-walker/src/index.js
/node_modules/nanoid/async/index.js
/node_modules/nanoid/non-secure/index.js
/node_modules/nanoid/url-alphabet/index.js
/node_modules/nanoid/index.js
/node_modules/@babel/parser/lib/index.js.map
/node_modules/nanoid/async/index.native.js
/node_modules/postcss/lib/input.d.ts
/node_modules/postcss/lib/input.js
/node_modules/postcss/lib/lazy-result.d.ts
/node_modules/postcss/lib/lazy-result.js
/node_modules/@babel/parser/LICENSE
/node_modules/@jridgewell/sourcemap-codec/LICENSE
/node_modules/@vue/compiler-core/LICENSE
/node_modules/@vue/compiler-dom/LICENSE
/node_modules/@vue/compiler-sfc/LICENSE
/node_modules/@vue/compiler-ssr/LICENSE
/node_modules/@vue/reactivity-transform/LICENSE
/node_modules/@vue/shared/LICENSE
/node_modules/estree-walker/LICENSE
/node_modules/magic-string/LICENSE
/node_modules/nanoid/LICENSE
/node_modules/picocolors/LICENSE
/node_modules/postcss/LICENSE
/node_modules/source-map-js/LICENSE
/node_modules/postcss/lib/list.d.ts
/node_modules/postcss/lib/list.js
/node_modules/magic-string/dist/magic-string.cjs.d.ts
/node_modules/magic-string/dist/magic-string.cjs.js
/node_modules/magic-string/dist/magic-string.cjs.js.map
/node_modules/magic-string/dist/magic-string.es.d.mts
/node_modules/magic-string/dist/magic-string.es.mjs
/node_modules/magic-string/dist/magic-string.es.mjs.map
/node_modules/magic-string/dist/magic-string.umd.js
/node_modules/magic-string/dist/magic-string.umd.js.map
/node_modules/postcss/lib/map-generator.js
/node_modules/source-map-js/lib/mapping-list.js
/node_modules/.bin/nanoid
/node_modules/nanoid/bin/nanoid.cjs
/node_modules/.bin/nanoid.cmd
/node_modules/nanoid/nanoid.js
/node_modules/.bin/nanoid.ps1
/node_modules/postcss/lib/no-work-result.d.ts
/node_modules/postcss/lib/no-work-result.js
/node_modules/postcss/lib/node.d.ts
/node_modules/postcss/lib/node.js
/node_modules/@babel/parser/package.json
/node_modules/@jridgewell/sourcemap-codec/package.json
/node_modules/@vue/compiler-core/package.json
/node_modules/@vue/compiler-dom/package.json
/node_modules/@vue/compiler-sfc/package.json
/node_modules/@vue/compiler-ssr/package.json
/node_modules/@vue/reactivity-transform/package.json
/node_modules/@vue/shared/package.json
/node_modules/estree-walker/dist/esm/package.json
/node_modules/estree-walker/src/package.json
/node_modules/estree-walker/package.json
/node_modules/magic-string/package.json
/node_modules/nanoid/async/package.json
/node_modules/nanoid/non-secure/package.json
/node_modules/nanoid/url-alphabet/package.json
/node_modules/nanoid/package.json
/node_modules/picocolors/package.json
/node_modules/postcss/package.json
/node_modules/source-map-js/package.json
/node_modules/postcss/lib/parse.d.ts
/node_modules/postcss/lib/parse.js
/node_modules/.bin/parser
/node_modules/.bin/parser.cmd
/node_modules/postcss/lib/parser.js
/node_modules/.bin/parser.ps1
/node_modules/picocolors/picocolors.browser.js
/node_modules/picocolors/picocolors.d.ts
/node_modules/picocolors/picocolors.js
/node_modules/postcss/lib/postcss.d.mts
/node_modules/postcss/lib/postcss.d.ts
/node_modules/postcss/lib/postcss.js
/node_modules/postcss/lib/postcss.mjs
/node_modules/postcss/lib/previous-map.d.ts
/node_modules/postcss/lib/previous-map.js
/node_modules/postcss/lib/processor.d.ts
/node_modules/postcss/lib/processor.js
/node_modules/source-map-js/lib/quick-sort.js
/node_modules/@vue/reactivity-transform/dist/reactivity-transform.cjs.js
/node_modules/@vue/reactivity-transform/dist/reactivity-transform.d.ts
/node_modules/@babel/parser/README.md
/node_modules/@jridgewell/sourcemap-codec/README.md
/node_modules/@vue/compiler-core/README.md
/node_modules/@vue/compiler-dom/README.md
/node_modules/@vue/compiler-sfc/README.md
/node_modules/@vue/compiler-ssr/README.md
/node_modules/@vue/reactivity-transform/README.md
/node_modules/@vue/shared/README.md
/node_modules/estree-walker/README.md
/node_modules/magic-string/README.md
/node_modules/nanoid/README.md
/node_modules/picocolors/README.md
/node_modules/postcss/README.md
/node_modules/source-map-js/README.md
/node_modules/postcss/lib/result.d.ts
/node_modules/postcss/lib/result.js
/node_modules/postcss/lib/root.d.ts
/node_modules/postcss/lib/root.js
/node_modules/postcss/lib/rule.d.ts
/node_modules/postcss/lib/rule.js
/node_modules/@vue/shared/dist/shared.cjs.js
/node_modules/@vue/shared/dist/shared.cjs.prod.js
/node_modules/@vue/shared/dist/shared.d.ts
/node_modules/@vue/shared/dist/shared.esm-bundler.js
/node_modules/source-map-js/source-map.d.ts
/node_modules/source-map-js/source-map.js
/node_modules/source-map-js/lib/source-map-consumer.js
/node_modules/source-map-js/lib/source-map-generator.js
/node_modules/source-map-js/lib/source-node.js
/node_modules/@jridgewell/sourcemap-codec/dist/types/sourcemap-codec.d.ts
/node_modules/@jridgewell/sourcemap-codec/dist/sourcemap-codec.mjs
/node_modules/@jridgewell/sourcemap-codec/dist/sourcemap-codec.mjs.map
/node_modules/@jridgewell/sourcemap-codec/dist/sourcemap-codec.umd.js
/node_modules/@jridgewell/sourcemap-codec/dist/sourcemap-codec.umd.js.map
/node_modules/postcss/lib/stringifier.d.ts
/node_modules/postcss/lib/stringifier.js
/node_modules/postcss/lib/stringify.d.ts
/node_modules/postcss/lib/stringify.js
/node_modules/postcss/lib/symbols.js
/node_modules/estree-walker/types/sync.d.ts
/node_modules/estree-walker/src/sync.js
/node_modules/postcss/lib/terminal-highlight.js
/node_modules/postcss/lib/tokenize.js
/node_modules/estree-walker/types/tsconfig.tsbuildinfo
/node_modules/picocolors/types.ts
/node_modules/source-map-js/lib/util.js
/node_modules/estree-walker/types/walker.d.ts
/node_modules/estree-walker/src/walker.js
/node_modules/postcss/lib/warn-once.js
/node_modules/postcss/lib/warning.d.ts
/node_modules/postcss/lib/warning.js
