<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper是根标签。namespace属性是找到当前配置的依据 -->
<!-- 由于最理想的Mybatis使用方式是：通过Mapper接口调用接口方法，访问数据库 -->
<!-- 这样的理想方式要求：能够通过接口全类名找到Mapper配置 -->
<!-- 所以：我们就用Mapper接口的全类名来给namespace属性赋值 -->
<mapper namespace="com.example.dao.mapper.MinioMapper">
    <sql id="video_sql">
        id,
        bucket_name,
        object_key,
        create_date,
        update_date
    </sql>

    <sql id="video_info_sql">
        id
        ,
        user_id,
        video_id,
        video_name,
        video_summary,
        area,
        video_size,
        video_md5,
        cerete_date,
        update_date
    </sql>

    <insert id="saveVideo" useGeneratedKeys="true" keyProperty="id" >
        insert into video (bucket_name,
                           object_key)
        values (#{bucketName},
                #{objectKey});
    </insert>
    <insert id="saveVideoInfo">
        insert into video_info (user_id,
                                video_id,
                                video_name,
                                video_summary,

                                video_size,
                                video_md5)
        values (#{userId},
                #{videoId},
                #{videoName},
                #{videoSummary},
                #{videoSize},
                #{videoMd5});
    </insert>
    <update id="updateVideoInfo">
        update video_info
        set video_name= #{videoName},
            video_summary=#{videoSummary},
            user_id = #{userId},
            video_status=#{videoStatus},

            video_review=#{videoReview},

            is_delete=#{isDelete},

            works_label_id=#{worksLabelId}
        where video_md5=#{videoMd5}
    </update>

    <select id="getVideoInfo" resultType="com.example.dao.model.entity.VideoInfo">
        select
        <include refid="video_info_sql">
        </include>
        from video_info
        where area = #{area}
        limit #{start},#{pageSize};

    </select>
    <select id="getTotalInfo" resultType="java.lang.Integer">
        select count(1)
        from video_info
        where area=#{area}
    </select>


</mapper>
