<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper是根标签。namespace属性是找到当前配置的依据 -->
<!-- 由于最理想的Mybatis使用方式是：通过Mapper接口调用接口方法，访问数据库 -->
<!-- 这样的理想方式要求：能够通过接口全类名找到Mapper配置 -->
<!-- 所以：我们就用Mapper接口的全类名来给namespace属性赋值 -->
<mapper namespace="com.example.dao.mapper.MinioMapper">
    <sql id="file_info_sql">
id,
        file_md5,
        file_name,
bucket_name,
object_key,
    area,
total_size,create_date,update_date
    </sql>

    <insert id="saveFileInfo">
        insert into file_info ( file_md5,
                                file_name,
                                bucket_name,
                                object_key,
                                total_size)
        values ( #{fileMd5},
                 #{fileName},
                 #{bucketName},
                 #{objectKey},
                 #{totalSize});

    </insert>
    <select id="getVideoInfo" resultType="com.example.dao.model.entity.FileInfoEntity">
select <include refid="file_info_sql"></include>
       from file_info
where area = #{area}

limit #{start},#{pageSize}

    </select>
    <select id="getTotalInfo" resultType="java.lang.Integer">
        select count(1) as total
        from file_info
        where area = #{area}
        </select>


</mapper>
