<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ScrollingMapper">

    <resultMap id="BaseResultMap" type="com.example.dao.model.entity.Scrolling">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userid" column="userId" jdbcType="BIGINT"/>
            <result property="videoid" column="videoId" jdbcType="BIGINT"/>
            <result property="relativeTime" column="relative_time" jdbcType="TIMESTAMP"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
            <result property="scrollingContext" column="scrolling_context" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,videoId,
        relative_time,create_date,update_date,
        scrolling_context
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from scrolling
        where  id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from scrolling
        where  id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.dao.model.entity.Scrolling" useGeneratedKeys="true">
        insert into scrolling
        ( id,userId,videoId
        ,relative_time,create_date,update_date
        ,scrolling_context)
        values (#{id,jdbcType=BIGINT},#{userid,jdbcType=BIGINT},#{videoid,jdbcType=BIGINT}
        ,#{relativeTime,jdbcType=TIMESTAMP},#{createDate,jdbcType=TIMESTAMP},#{updateDate,jdbcType=TIMESTAMP}
        ,#{scrollingContext,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.dao.model.entity.Scrolling" useGeneratedKeys="true">
        insert into scrolling
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userid != null">userId,</if>
                <if test="videoid != null">videoId,</if>
                <if test="relativeTime != null">relative_time,</if>
                <if test="createDate != null">create_date,</if>
                <if test="updateDate != null">update_date,</if>
                <if test="scrollingContext != null">scrolling_context,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="userid != null">#{userid,jdbcType=BIGINT},</if>
                <if test="videoid != null">#{videoid,jdbcType=BIGINT},</if>
                <if test="relativeTime != null">#{relativeTime,jdbcType=TIMESTAMP},</if>
                <if test="createDate != null">#{createDate,jdbcType=TIMESTAMP},</if>
                <if test="updateDate != null">#{updateDate,jdbcType=TIMESTAMP},</if>
                <if test="scrollingContext != null">#{scrollingContext,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.dao.model.entity.Scrolling">
        update scrolling
        <set>
                <if test="userid != null">
                    userId = #{userid,jdbcType=BIGINT},
                </if>
                <if test="videoid != null">
                    videoId = #{videoid,jdbcType=BIGINT},
                </if>
                <if test="relativeTime != null">
                    relative_time = #{relativeTime,jdbcType=TIMESTAMP},
                </if>
                <if test="createDate != null">
                    create_date = #{createDate,jdbcType=TIMESTAMP},
                </if>
                <if test="updateDate != null">
                    update_date = #{updateDate,jdbcType=TIMESTAMP},
                </if>
                <if test="scrollingContext != null">
                    scrolling_context = #{scrollingContext,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.dao.model.entity.Scrolling">
        update scrolling
        set
            userId =  #{userid,jdbcType=BIGINT},
            videoId =  #{videoid,jdbcType=BIGINT},
            relative_time =  #{relativeTime,jdbcType=TIMESTAMP},
            create_date =  #{createDate,jdbcType=TIMESTAMP},
            update_date =  #{updateDate,jdbcType=TIMESTAMP},
            scrolling_context =  #{scrollingContext,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
